<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>房贷计算器</title>
    <meta name="keywords" content="房贷计算器">
    <meta name="description" content="房贷计算器">

    <!-- import Vue.js -->
    <script src="//unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="//unpkg.com/view-design/dist/styles/iview.css">
    <!-- import iView -->
    <script src="//unpkg.com/view-design/dist/iview.min.js"></script>
    <style>
        #app {
            max-width: 500px;
            padding: 20px;

            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    </style>
    <script src="../../js/common/baidu.js"></script>
</head>
<body>
    <div id="app">
        <h3 style="margin-bottom: 10px;">房贷计算器（商业贷款）（等额本息）</h3>
        <i-button ghost type="primary" @click="onHandler">切换提前还款计算功能</i-button>
        <i-form ref="formInline" :model="formData">
            <form-item label="本金（万元）：">
                <i-input type="text" v-model="formData.debtMoneyTotalOrigin" placeholder="100">
                    <template #prepend>
                        <icon type="ios-clock-outline"></icon>
                    </template>
                </i-input>
            </form-item>
            <form-item label="年限（最多30年）：">
                <i-input type="text" v-model="formData.periods" placeholder="30">
                    <template #prepend>
                        <icon type="ios-clock-outline"></icon>
                    </template>
                </i-input>
            </form-item>
            <form-item label="利率（默认5.88）：">
                <i-input type="text" v-model="formData.rate" placeholder="5.88">
                    <template #prepend>
                        <icon type="ios-clock-outline"></icon>
                    </template>
                </i-input>
            </form-item>
            <form-item>
                <i-button type="primary" :disabled="!formData.debtMoneyTotalOrigin" @click="onHandler">计算</i-button>
            </form-item>
        </i-form>

        <div>
            <i-table stripe :columns="columns" :data="dataList"></i-table>
        </div>
    </div>
</body>
<script src="./js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data () {
            return {
                formData: {
                    debtMoneyTotalOrigin: '',
                    periods: 30,
                    rate: 5.88
                },
                columns: [
                    {
                        title: '期数',
                        type: 'index',
                        width: 70
                    }, {
                        title: '月供',
                        key: 'repaymentMonth'
                    }, {
                        title: '本金',
                        key: 'debtMoneyMonth'
                    }, {
                        title: '利息',
                        key: 'interestMonth'
                    }, {
                        title: '剩余',
                        key: 'remainDebtMoneyTotal',
                        render: function(h, params) {
                            return h('span', params.row.remainDebtMoneyTotal + 'W')
                        }
                    }
                ],
                dataList: [],
            }
        },
        methods: {
            onHandler () {
                var debtMoneyTotalOrigin = this.formData.debtMoneyTotalOrigin * 10000
                var periods = Number(this.formData.periods)
                var rate = this.formData.rate / 100

                this.dataList = computeMoney(debtMoneyTotalOrigin, periods, rate)
                console.log(this.dataList)
            }
        }
    })
</script>
</html>