<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>16进制RGB颜色转换</title>
    <meta name="keywords" content="RGB颜色转换、16进制颜色转换">
    <meta name="description" content="RGB颜色转换、16进制颜色转换">

    <!-- import Vue.js -->
    <script src="/js/modules/vue.min.js"></script>
    <!-- import stylesheet -->
    <link rel="stylesheet" href="/js/modules/iview.css">
    <!-- import iView -->
    <script src="/js/modules/iview.min.js"></script>
    <style>
        #app {
            max-width: 500px;
            padding: 20px;

            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    </style>
    <script src="../../js/common/baidu.js"></script>
</head>
<body>
    <div id="app">
        <h3 style="margin-bottom: 10px;">16进制RGB颜色转换</h3>
        <i-form ref="formInline" :model="formData">
            <form-item label="RGB或十六进制：">
                <i-input type="text" v-model="formData.value" placeholder="RGB(255,255,255) 或 #FFFFFF">
                    <template #prepend>
                        <icon type="ios-brush-outline"></icon>
                    </template>
                </i-input>
            </form-item>
            <form-item label="结果：">
                <i-input type="text" v-model="formData.result" placeholder="RGB(255,255,255) 或 #FFFFFF">
                    <template #prepend>
                        <icon type="ios-brush"></icon>
                    </template>
                </i-input>
            </form-item>
            <form-item>
                <i-button type="primary" :disabled="!formData.value" @click="onHandler">转换</i-button>
            </form-item>
        </i-form>
    </div>
</body>
<script src="./js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data () {
            return {
                formData: {
                    value: '',
                    result: ''
                }
            }
        },
        methods: {
            onHandler () {
                let color = this.formData.value
                if (/^#/.test(color)) {
                    this.formData.result = HexToRgb(color)
                } else {
                    this.formData.result = RgbToHex(color)
                }
            }
        } 
    })
</script>
</html>